<div class="container-fluid main">
    <div class="formulario">
        <mat-card>
            <mat-card-title>Completa los datos del usuario a crear</mat-card-title>
            <br>
            <div class="example-container">
                <form  [formGroup]="registroForm">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Nombre</mat-label>
                                <input matInput type="text"  id="nombre" formControlName="name"
                                required>
                                <mat-error *ngIf="this.registroForm.valid">Nombre Requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Apellidos</mat-label>
                                <input matInput type="text"  id="apellidos" formControlName="lastname" required>
                                <mat-error *ngIf="this.registroForm.valid">Apellidos Requeridos</mat-error>
                            </mat-form-field>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Telefono</mat-label>
                            <span matPrefix>+57 &nbsp;</span>
                            <input type="number" matInput placeholder="555-555-1234" id="telefono" formControlName="phone" required>
                            <mat-icon matSuffix>mode_edit</mat-icon>
                                <mat-error *ngIf="this.registroForm.valid">Telefono Requeridos</mat-error>
                            </mat-form-field>
                        </div>
                        <div class=" col-xs-12 col-sm-12 col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Rol</mat-label>
                            <input type="text" matInput placeholder="Agente" autocapitalize="true" id="rol" formControlName="rol" required>
                            <mat-icon matSuffix>mode_edit</mat-icon>
                                <mat-error *ngIf="this.registroForm.valid">Rol Requerido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput id="email" formControlName="email"
                                       placeholder="Ex. pat@example.com" required>
                                <mat-error *ngIf="this.registroForm.value && !this.registroForm.hasError('required')">
                                    Por favor, introduce un correo electrónico válido
                                </mat-error>
                                <mat-error *ngIf="this.registroForm.valid">
                                  Email is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                        </div>         
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" id="clave" formControlName="psw">
                                <button mat-icon-button matSuffix (click)="hide = !hide" >
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <br><br>
        <button mat-raised-button color="warn" [disabled]="!registroForm.valid"
            (click)="onRegistrar(registroForm.get('email').value, registroForm.get('psw').value )">Continuar</button>
    </div>
</div>