<div class="body">
    <div class="body-page">
        <div class="title">
            <h5>Agregar nuevo modelo</h5>
        </div>
        <div class="form">
            <form [formGroup]="modeloForm">
                <div class="row">
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <select class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                             formControlName="category" id="floatingSelect">
                             <option [value]="category.name" *ngFor="let category of categories">{{ category.name }}</option>
                            </select>
                            <label for="floatingSelect" class="lblfloat">Seleccionar Categoria</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <select class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                             formControlName="marca" id="floatingSelect">
                             <option [value]="marca.name" *ngFor="let marca of marcas">{{ marca.name }}</option>
                            </select>
                            <label for="floatingSelect" class="lblfloat">Seleccionar marca</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de la modelo" formControlName="name">
                            <label for="floatingInput">Nombre de la modelo</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="button">
            <button [disabled]="!modeloForm.valid" (click)="onGuardar()">Guardar</button>
        </div>
    </div>
</div>