<div class="row">
    <!-- Header starts -->
    <nav class="navbar col-12 navbar-expand ">
        <button class="menu-btn btn btn-link btn-sm" type="button" (click)="toggleSidebar()">
            <i class="material-icons">menu</i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- search starts -->
            <!-- <form class="form-inline search mr-auto">
                <input class="form-control form-control-sm" type="search" placeholder="buscar" aria-label="Search" />
                <button class="btn btn-link btn-sm" type="submit"><i class="material-icons">search</i></button>
            </form>-->
            <!-- search ends -->

            <!-- large desktop market rates starts -->
            <div class="mx-auto d-none d-xxl-inline">

            </div>
            <!-- large desktop market rates ends -->

            <!-- icons dropwdowns starts -->
            <ul class="navbar-nav ml-auto">
                <!-- flag dropdown-->


                <!-- applicatio quicklinks dropdown-->


                <!-- cart dropdown-->


                <!-- task dropdown-->
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle active" href="javascript:void(0)" ngbDropdownToggle>
                        <i class="material-icons">email</i>
                        <span class="counter bg-danger">4</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-sm-left dropdown-menu-center no-defaults pt-0 overflow-hidden" ng-click="$event.stopPropagation()" ngbDropdownMenu>
                        <div class="position-relative text-center rounded">
                            <div class="background" style="background-image: url(assets/images/background-part.png);"></div>
                            <div class="py-3 text-white">
                                <h5 class="font-weight-normal">Mensajes</h5>
                                <p>Actualizaciones y estado</p>
                            </div>
                        </div>
                        <div class="scroll-y h-320 d-block">
                            <a class="dropdown-item border-top new" href="javascript:void(0)">
                                <div class="row" *ngFor="let message of messages">
                                    <div class="col-auto align-self-center">
                                        <i class="material-icons text-template-primary">local_mall</i>
                                    </div>
                                    <div class="col pl-0">
                                        <div class="row mb-1">
                                            <div class="col">
                                                <p class="mb-0">id Usuario: nueva notificacion</p>
                                            </div>
                                            <div class="col-auto pl-0">
                                                <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                            </div>
                                        </div>
                                        <p class="small text-mute">ingreso mensaje</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </li>

                <!-- profile dropdown-->
                <li class="nav-item dropdown ml-0 ml-sm-4" ngbDropdown>
                    <a class="nav-link dropdown-toggle profile-link active" href="javascript:void(0)" ngbDropdownToggle>
                        <figure class="rounded avatar avatar-30">
                            <img  src="assets/images/logocrediuatos.svg" alt="admin" />
                          
                        </figure>
                        <div class="username-text ml-2 mr-2 d-none d-lg-inline-block">
                            <h6 class="username"><span>Bienvenido,</span>{{ name }}</h6>
                        </div>
                        <figure class="rounded avatar avatar-30 d-none d-md-inline-block">
                            <i class="material-icons">expand_more</i>
                        </figure>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right w-300 pt-0 overflow-hidden" ng-click="$event.stopPropagation()" ngbDropdownMenu>
                        <div class="position-relative text-center rounded py-5">
                            <div class="background" style="background-image: url(assets/images/logocrediuatos.svg);"></div>
                        </div>
                        <div class="text-center mb-3 top-60 z-2">
                            <figure class="avatar avatar-120 mx-auto shadow">
                                <img  src="assets/images/logocrediuatos.svg" alt="admin" />
                               
                            </figure>
                        </div>
                        <h5 class="text-center mb-0">Administrador</h5>
                        <p class="text-center">Administrador</p>
                        <p class="text-center text-secondary fs13">Yopal,Casanare</p>
                        <a class="dropdown-item border-top" href="javascript:void(0)">
                            <div class="row">
                                <div class="col-auto align-self-center">
                                    <i class="material-icons">account_box</i>
                                </div>
                                <div class="col pl-0" (click)="modificarMiPerfil(miPerfilModal)">
                                    <p class="mb-0">Mi perfil</p>
                                    <p class="small text-mute text-trucated">Actualizar detalles e información</p>
                                </div>
                                <div class="col-auto align-self-center text-right pl-0">
                                    <i class="material-icons text-mute small">chevron_right</i>
                                </div>
                            </div>
                        </a>


                        <a class="dropdown-item border-top">
                            <div class="row" (click)="logOut()">
                                <div class="col-auto align-self-center">
                                    <i class="material-icons text-danger">exit_to_app</i>
                                </div>
                                <div class="col pl-0">
                                    <p class="mb-0 text-danger" >Cerrar sesion</p>
                                </div>
                                <div class="col-auto align-self-center text-right pl-0">
                                    <i class="material-icons text-mute small text-danger">chevron_right</i>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- icons dropwdowns starts -->
        </div>
    </nav>
    <!-- Header ends -->
</div>
<ng-template #miPerfilModal>
    <div class="container main-container" id="main-container">
        <div class="row">
            <div class="col-12 col-md-11 col-lg-10 col-xl-8 mx-auto align-self-center">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 mx-auto">
                                <div class="row ">
                                    <div class="col-lg-12 col-md-12 text-center">
                                        <img src="../../../../../assets/imageLogo/IsologotipoCromaticoVectorial.png" alt="" class="w-50px mt-4">
                                        <h4 class="mt-3 mb-1">Modificar Perfil</h4>
                                        <p class="text-mute">usuario</p>
                                    </div>
                                </div>
                                <br>

                                <p class="mt-3 mb-1">guardar los datos personales el usuario no se puede modificar</p>
                                <br>
                                <h5 class="m-0">Datos</h5>
                                <form class="form">
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label>Usuario</label>
                                                <input type="text" class="form-control" name="nombreUsuario" placeholder="" value="user1" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row ">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label>email</label>
                                                <input type="text" class="form-control" name="email" [(ngModel)]="usuario.email" placeholder="" value="{{usuario.email}}">
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group ">
                                                <label>Telefono</label>
                                                <input type="text" class="form-control" name="telefono" placeholder="" value="000-000">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group ">
                                                <label>ROL</label>
                                                <input type="text" class="form-control" name="rol" placeholder="" value="admin" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row ">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group ">

                                                <button class="btn btn-outline-dark" (click)="openChangePass(changePasswordModal)">Cambiar contraseña</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-dark" (click)="cancelar()">Cancelar</button>
                        <button class="btn btn-primary float-right" (click)="guardar()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #changePasswordModal>
    <div class="card-body">
        <h3>Cambiar password </h3>
        <div class="card mb-2 overflow-hidden">
            <div class="card-body p-0">
                <label class="sr-only">ingresar nueva password</label>
                <input type="text" class="form-control rounded-0 border-0 text-center"  name="passwordNueva" placeholder="password Nueva" required="">
                <label class="sr-only">confirmar nueva password</label>
                <input type="text" class="form-control rounded-0 border-0 text-center"  name="confirmacionPassword" placeholder="confirmar password" required="">
            </div>
        </div>
        <div class="">
            <a class=" btn btn-primary btn-block" (click)="confirmarPassw()">Confirmar <i class="material-icons md-18">arrow_forward</i></a>
        </div>
    </div>
</ng-template>

<ng-template #loadModal>
    asdasdasd
    <div class="center-loader">
        <strong>Guardando
            <span class="loader__dot">.</span>
            <span class="loader__dot">.</span>
            <span class="loader__dot">.</span></strong>
    </div>
</ng-template>
<ng-template #tramitandoModal>
    <div class="modal-content">
        <div class="modal-header">
            <br>
        </div>
        <div class="modal-body text-center">
            <div class=" center-loader" *ngIf="tramitando">
                <strong>Tramitando
                    <span class="loader__dot">.</span>
                    <span class="loader__dot">.</span>
                    <span class="loader__dot">.</span></strong>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <br>
        </div>
    </div>

</ng-template>