<div class="row">
    <div class="col-12">
        <div class="info">
            <mat-card *ngFor="let category of categories">
                <mat-card-title>{{ category.name }}</mat-card-title>
                <mat-card-actions align="end">
                    <button mat-button (click)="onEditar(category.id, editmodal)">Editar</button>
                    <button mat-button (click)="onEliminar(category.id)" >Eliminar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<ng-template #editmodal>
    <div class="body">
        <div class="body-page">
            <div class="title">
                <h5>Agregar nueva categoria</h5>
            </div>
            <div class="form">
                <form [formGroup]="categoryForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de la categoria" formControlName="name">
                                <label for="floatingInput">Nombre de la categoria</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="button">
                <button [disabled]="!categoryForm.valid" (click)="onGuardar()">Guardar</button>
            </div>
        </div>
    </div>
</ng-template>