<table mat-table [dataSource]="data | paginate: {id:'listar', itemsPerPage: 4, currentPage: pageActual }" class="mat-elevation-z8">
    <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
      </ng-container>
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let element"> {{element.version}} </td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Año </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click)="onVer(element)">Ver</button> <button mat-button (click)="onEditar(element)">Editar</button> <button mat-button>Eliminar</button></td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<pagination-controls id="listar" (pageChange)="pageActual = $event" responsive="true">
</pagination-controls>