<input class="form-control" type="text" name="filterVehicles" placeholder="Buscar Vehiculo" [(ngModel)]="filterVehicles">
<table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th>Categoria</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Version</th>
      <th>Año</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let element of data | paginate: {id:'listar', itemsPerPage: 10, currentPage: pageActual } | marcas:filterVehicles"
      class="text-center">
      <td>{{element.categoria}}</td>
      <td>{{element.marca}}</td>
      <td>{{element.modelo}}</td>
      <td>{{element.year}}</td>

      <td>
        <button class="btn"
          (click)="onEditar(element)"><i class="material-icons">edit</i></button>
            <a class="btn " (click)="onVer(element)"><i class="material-icons">visibility</i></a>
        <a class="btn "><i class="material-icons">delete</i></a>

      </td>
    </tr>
  </tbody>
</table>
<pagination-controls id="listar" (pageChange)="pageActual = $event" responsive="true">
</pagination-controls>