<input class="form-control" type="text" name="filterVersiones" placeholder="Buscar Versiones" [(ngModel)]="filterVersiones">
<table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th>Categoria</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Version</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let element of dataSource  | paginate: {id:'listar', itemsPerPage: 10, currentPage: pageActual } | marcas:filterVersiones"
      class="text-center">
      <td>{{element.category}}</td>
      <td>{{element.marca}}</td>
      <td>{{element.modelo}}</td>
      <td>{{element.name}}</td>

      <td>
        <button class="btn"
          (click)="openEditModal(element.id, editModal, element.marca, element.modelo, element.name)"><i
            class="material-icons">
            edit</i></button>
        <a class="btn "><i class="material-icons" (click)="openDeleteModal(element.id, deleteModal)">delete</i></a>

      </td>
    </tr>
  </tbody>
</table>
  <pagination-controls id="listar" (pageChange)="pageActual = $event" responsive="true">
  </pagination-controls>
  
  <ng-template #editModal>
    <div class="body">
        <mat-card>
            <mat-card-title>
                Editar Version
            </mat-card-title>
            <mat-card-actions>
              <div class="form">
                <form [formGroup]="versionForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <select class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                 formControlName="category" id="floatingSelect" style="padding-top: 1.525rem;">
                                 <option [value]="category.name" *ngFor="let category of categories">{{ category.name }}</option>
                                </select>
                                <label for="floatingSelect" class="lblfloat">Seleccionar categoria</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <select class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                 formControlName="marca" id="floatingSelect" style="padding-top: 1.525rem;">
                                 <option [value]="marca.name" *ngFor="let marca of marcas">{{ marca.name }}</option>
                                </select>
                                <label for="floatingSelect" class="lblfloat">Seleccionar marca</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <select class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                 formControlName="modelo" id="floatingSelect" style="padding-top: 1.525rem;">
                                 <option [value]="modelo.name" *ngFor="let modelo of modelos">{{ modelo.name }}</option>
                                </select>
                                <label for="floatingSelect" class="lblfloat">Seleccionar modelo</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de la version" formControlName="name">
                                <label for="floatingInput">Nombre de la version</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
                  <button mat-button [disabled]="!versionForm.valid" (click)="onGuardar()">Guardar</button>
            </mat-card-actions>
        </mat-card>
    </div>
  </ng-template>
  <ng-template #deleteModal>
    <mat-card>
        <mat-card-title>
            Desea continuar?
        </mat-card-title>
        <mat-card-actions align="end">
            <button mat-button (click)="onEliminar()">Eliminar</button>
        </mat-card-actions>
    </mat-card>
  </ng-template>