<div class="center-loader" *ngIf="loader">
    <strong>Cargando
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span></strong>
</div>

<div class="container table-responsive" *ngIf="!loader">
    <button style="margin-bottom: 10px; margin-left: 0px;" class="btn btn-warning text-white" (click)="ngOnInit()">
        <i class="material-icons text-white">restore_page
        </i> Refrescar Tabla
    </button>

    <div class="card min">
        <div class="card-header">
            <h3>LISTADO DE PRODUCTOS</h3>

        </div>
        <input class="form-control" type="text" name="filterProducto" placeholder="buscar producto">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Producto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let promocion of promociones" class="text-center">
                        <td>{{promocion.nombrePromocion}}</td>
                        <td>{{promocion.descripcion}}</td>
                        <td>{{promocion.producto.nombreProducto}}</td>
                        <td>
                            <button (click)="modificarPromocion(promocion,ModalModificar)" style="margin: 10px" class="btn btn-primary">Modificar</button>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- <div *ngIf="failEliminado" class="float-left">
            <p class="p-3 bg-danger text-white rounded">Error: {{msjErr}}</p>
        </div>
        <div *ngIf="eliminado" class="float-left">
            <p class="p-3 bg-success text-white rounded">OK: {{msjOK}}</p>
        </div>
        <div *ngIf="failActualizado" class="float-left">
            <p class="p-3 bg-danger text-white rounded" style="margin: 10px">Error: {{msjErr}}</p>
        </div>
        <div *ngIf="actualizado" class="float-left">
            <p class="p-3 bg-success text-white rounded" style="margin: 10px">OK: {{msjOK}}</p>
        </div>-->
    </div>
</div>

<ng-template #ModalModificar>
    <div class="container col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>Promociones</h3>

            </div>
            <div class="card-body">
                <form action="" #f="ngForm" novalidate>
                    <div>
                    </div>
                    <div class="form-group ">
                        <label for=" ">Nombre Promocion</label>
                        <input type="text " class="form-control " [(ngModel)]="promocion.nombrePromocion " name="nombre " required>
                    </div>
                    <div class="form-group ">
                        <label for=" ">Descripcion</label>
                        <input type="text " class="form-control " [(ngModel)]="promocion.descripcion " name="descripcion " required>
                    </div>
                    <br>
                    <div class="center-loader" *ngIf="loader">
                        <strong>Cargando productos
                            <span class="loader__dot">.</span>
                            <span class="loader__dot">.</span>
                            <span class="loader__dot">.</span></strong>
                    </div>
                    <br>
                    <select *ngIf="!loader" class="form-control" name="empresaSeleccionada" [(ngModel)]="productoSeleccionado" (change)="capturarProducto()">
                        <option value="0">Selecciona un producto</option>
                        <option *ngFor="let producto of productos" style="margin-block: 10px">
                            {{producto.nombreProducto}}
                        </option>
                    </select>
                    <h5>imagen por defecto</h5>
                    <input type="checkbox" [(ngModel)]="imgDefecto" (change)="checkBoxDefecto() " name="imgDefecto " />
                    <div class="form-group ">
                        <!-- <br>
                  <input type="file " class="btn btn-dark " (change)="onFileChanged($event) ">-->
                        <hr>
                        <div *ngIf="!imageCargada; else elseBlock3 ">
                            <button *ngIf="isButtonImage " class="btn btn-success " (click)="seleccionarImagen(cargarImagen) ">Seleccionar imagen</button>
                        </div>
                        <ng-template #elseBlock3>
                            <div class="card-img-top ">
                                <div class="background " *ngIf="imageCargada.retrievedImages ">
                                    <img [src]="imageCargada.retrievedImages ">

                                </div>
                            </div>
                            <br>
                            <button class="btn btn-success " (click)="seleccionarImagen(cargarImagen) ">Cambiar imagen</button>
                        </ng-template>
                        <hr>

                    </div>

                    <div class="form-group ">
                        <div class="form-group ">
                            <div class="col-md-12 ">
                                <div *ngIf=message>{{message}}</div>
                            </div>
                        </div>

                    </div>

                    <div class="container row ">
                        <div class="col-md-12 ">
                            <div *ngIf=retrievedImage>
                                <img [src]="retrievedImage ">
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-danger " (click)="guardarPromocion() " [disabled]="!f.valid ">Guardar</button>

                </form>
                <div *ngIf="failCreado " class="float-left ">
                    <p class="p-3 bg-danger text-white rounded " style="margin: 10px ">Error: {{msjErr}}</p>
                </div>
                <div *ngIf="creado " class="float-left ">
                    <p class="p-3 bg-success text-white rounded " style="margin: 10px ">OK: {{msjOK}}</p>
                </div>

            </div>

        </div>
    </div>
    <ng-template #cargarImagen>
        <div class="card-body ">
            <h3>Selecciona una imagen de la galeria</h3>
            <div class="center-loader " *ngIf="loader; else elseBlock ">
                <strong>Cargando imagenes
                  <span class="loader__dot ">.</span>
                  <span class="loader__dot ">.</span>
                  <span class="loader__dot ">.</span></strong>
            </div>
            <ng-template #elseBlock>
                <div class="row ">
                    <div class="col-6 " *ngFor="let image of images ">
                        <div class="card text-center shadow-sm border-0 mb-4 ">
                            <div class="offer bg-warning text-white right ">Imagenes de usuario</div>
                            <div class="card-img-top ">
                                <div class="background " *ngIf="image.retrievedImages ">
                                    <img [src]="image.retrievedImages ">

                                </div>
                            </div>
                            <div class="card-body ">
                                <h6 class="template-primary ">Nombre imagen: {{image.name}}</h6>
                                <div class="row my-3 ">
                                    <div class="col text-left ">
                                        <h5 class="font-weight-light mb-0 "> </h5>
                                    </div>

                                </div>

                                <div class="row my-3 ">
                                    <div class="col text-left ">
                                        <h5><button type="button " (click)="selecionImagen(image) " class="btn btn-success float-right " style="margin-left: 10px; ">Seleccionar</button></h5>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-template>
</ng-template>