.prueba{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
}
.marcas{
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
}