<div class="container-fluid page">
    <div class="body">
        <div class="container form">
            <div class="title">
                <div class="title-text">
                    <p>Paso {{ paso }} de 2</p>
                    <h4>Empieza describiendo tu vehiculo</h4>
                </div>
                <div class="title-img">

                </div>
            </div>
            <div class="form1 target">
                <h5>Escoge un titulo para tu publicacion</h5>
                <form [formGroup]="vehicleForm" class="vehicleForm">
                    <input type="text" class="form-control" placeholder="ejemplo: Renault Symbol"
                        formControlName="marcamodelo">
                </form>
                <button type="button" class="btn btn-outline-primary" [disabled]="!vehicleForm.valid"
                    (click)="onContinue('titulo')" *ngIf="progreso=== 0">Continuar</button>
            </div>
            <div class="form2 target" *ngIf="progreso > 0">
                <p>Elige el vehiculo que quieres vender</p>
                <div class="category">
                    <h4>¿A qué categoría pertenece tu vehiculo?</h4>
                    <div class="bread">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="link" (click)="back('categoria')">{{ category }}</a></li>
                                <li class="breadcrumb-item" *ngIf="marca != null"><a class="link" (click)="back('marca')">{{ marca }}</a></li>
                                <li class="breadcrumb-item" *ngIf="modelo != null"><a class="link" (click)="back('modelo')">{{ modelo }}</a></li>
                                <li class="breadcrumb-item" *ngIf="year != null"><a class="link" (click)="back('year')">{{ year }}</a></li>
                                <li class="breadcrumb-item" *ngIf="version != null"><a class="link" (click)="back('version')">{{ version }}</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="list-group" *ngIf="progreso === 1">
                        <button type="button" class="list-group-item list-group-item-action"
                            (click)="onCategory(category.name)" *ngFor="let category of categories">{{ category.name
                            }}</button>
                    </div>
                </div>
            </div>
            <div class="marca" *ngIf="progreso === 2">
                <div class="target">
                    <h4>¿Cual es la marca?</h4>
                    <input type="text" class="form-control" placeholder="Buscar marca">
                    <div class="contenido-scroleable">
                        <span>MAS USADOS</span>
                        <div class="list-group marcas">
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="onMarca(marca.name)" *ngFor="let marca of marcas">{{ marca.name }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modelo" *ngIf="progreso === 3">
                <div class="target">
                    <h4>¿Cual es el modelo de tu {{ marca }}?</h4>
                    <input type="text" class="form-control" placeholder="Buscar modelo">
                    <div class="contenido-scroleable">
                        <span>MAS USADOS</span>
                        <div class="list-group marcas">
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="onModelo(modelo.name)" *ngFor="let modelo of modelos">{{ modelo.name
                                }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="año" *ngIf="progreso === 4">
                <div class="target">
                    <h4>¿De que año es tu {{ marca }}?</h4>
                    <input type="text" class="form-control" placeholder="Buscar año">
                    <div class="contenido-scroleable">
                        <div class="list-group marcas">
                            <button type="button" class="list-group-item list-group-item-action"
                                (click)="onYear(year.year)" *ngFor="let year of years">{{ year.year }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="version" *ngIf="progreso === 5">
                <div class="target">
                    <h4>¿Cual es la versíon de tu {{ marca }}?</h4>
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action"
                            (click)="onVersion(version.name)"
                            *ngFor="let version of versions">{{version.name}}</button>
                        <button type="button" class="list-group-item list-group-item-action"
                            (click)="onVersion('otros')">otros</button>
                    </div>
                    <button type="button" class="btn btn-outline-primary botones" [disabled]="version === null"
                        (click)="onContinue('version')" *ngIf="progreso ===5">Continuar</button>
                </div>
            </div>
            <div class="kilometraje" *ngIf="progreso === 6">
                <div class="target">
                    <h5>¿Cuantos Kilometros tiene?</h5>
                    <form [formGroup]="kilometrajeForm">
                        <input type="number" class="form-control" placeholder="ejemplo: 50.000"
                            formControlName="kilometraje">
                    </form>
                    <button type="button" class="btn btn-outline-primary botones" [disabled]="!kilometrajeForm.valid"
                        (click)="onContinue('kilometraje')">Continuar</button>
                </div>
            </div>
            <div class="color" *ngIf="progreso === 7">
                <div class="target">
                    <h5>¿De que color es tu vehiculo?</h5>
                    <form [formGroup]="colorForm">
                        <select class="form-select" aria-label="Default select example" formControlName="color">
                            <option selected>Elegir</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Gris">Gris</option>
                            <option value="Negro">Negro</option>
                        </select>
                    </form>
                    <button type="button" class="btn btn-outline-primary botones" [disabled]="!colorForm.valid"
                        (click)="onContinue('color')">Continuar</button>
                </div>
            </div>
            <div class="formprincipal" *ngIf="progreso === 8">
                <div class="target">
                    <div class="head-principal">
                        <div class="text-head-principal">
                            <h5>¡Ya tenemos las caracteristicas de tu vehiculo!</h5>
                            <p>Los datos de tu aparecerán en tu publicación para que tus compradores no tengan dudas.
                            </p>
                        </div>
                        <div class="img-head-principal">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="formp">
                        <form [formGroup]="formPrincipal">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="marca" placeholder="Marca"
                                            formControlName="marca">
                                        <label for="marca">Marca</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="modelo" placeholder="Modelo"
                                            formControlName="modelo">
                                        <label for="modelo">Modelo</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="año" placeholder="Año"
                                            formControlName="year">
                                        <label for="año">Año</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="version" placeholder="Versíon"
                                            formControlName="version">
                                        <label for="version">Versíon</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="tcombustible" class="form-label">Tipo de combustible (requerido)</label>
                                    <input class="form-control" list="listcombustible" id="tcombustible"
                                        placeholder="Elegir.." formControlName="tcombustible">
                                    <datalist id="listcombustible">
                                        <option value="Gasolina">
                                        <option value="Gasolina y gas">
                                        <option value="Diesel">
                                        <option value="Electrico">
                                        <option value="Hibrido">
                                    </datalist>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="puertas" placeholder="Puertas"
                                            formControlName="puertas">
                                        <label for="puertas">Puertas (requerido)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="direccion" class="form-label">Direccion</label>
                                    <input class="form-control" list="tdireccion" id="direccion" placeholder="Elegir.."
                                        formControlName="direccion">
                                    <datalist id="tdireccion">
                                        <option value="Hidraulica">
                                        <option value="Mecanica">
                                    </datalist>
                                </div>
                                <div class="col-6">
                                    <label for="trasmision" class="form-label">Trasmision (requerido)</label>
                                    <input class="form-control" list="ttrasmision" id="trasmision"
                                        placeholder="Elegir.." formControlName="trasmision">
                                    <datalist id="ttrasmision">
                                        <option value="Mecanica">
                                        <option value="Automatica">
                                    </datalist>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="traccion" class="form-label">Control de traccion</label>
                                    <input class="form-control" list="ttraccion" id="traccion" placeholder="Elegir.."
                                        formControlName="traccion">
                                    <datalist id="ttraccion">
                                        <option value="Delantera">
                                        <option value="Trasera">
                                        <option value="4*4"></option>
                                    </datalist>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="Motor" placeholder="Motor"
                                            formControlName="motor">
                                        <label for="Motor">Motor</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="carroceria" class="form-label">Tipo de carroceria</label>
                                    <input class="form-control" list="tcarroceria" id="carroceria"
                                        placeholder="Elegir.." formControlName="carroceria">
                                    <datalist id="tcarroceria">
                                        <option value="Sedan">
                                        <option value="Coupe">
                                        <option value="Hasback"></option>
                                    </datalist>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="cilindrada" placeholder="Cilindrada"
                                            formControlName="cilindrada">
                                        <label for="cilindrada">Cilindrada</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="placa" placeholder="Placa"
                                            formControlName="placa">
                                        <label for="placa">Placa (requerido)</label>
                                    </div>
                                </div>
                                <div class="col-6 prueba">
                                    Unico dueño
                                    <label class="switch-wrap switch-success ml-2">
                                        <input type="checkbox"  formControlName="unicodueño"/>
                                        <div class="switch"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Mas informacion
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                Asegurado
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="seguro"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Tecnicomecanica
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="tecno"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>

                                    </mat-expansion-panel>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h6>Equipamiento</h6>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                GPS
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="gps"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Asiento trasero abatible
                                                    <label class="switch-wrap switch-success ml-2">
                                                        <input type="checkbox"  formControlName="asientotabatible"/>
                                                        <div class="switch"></div>
                                                    </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                Techo corredizo
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="techocorredizo"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Climatizador
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="climatizador"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                Porta equipaje en techo
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="portaequipajet"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Camara de reverso
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="camarareversa"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                Banca
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="banca"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h6>Seguridad</h6>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row ">
                                            <div class="col-6 prueba">
                                                Frenos ABS
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="abs"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Alarma
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="alarma"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                Faros antitinieblas delanteros
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="exploradorasd"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Airbag para conductor y pasajero
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="airbag"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                >Sensor de lluvia
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="sensorlluvia"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Faros antitinieblas traseros
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="exploradorast"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                Desempañador trasero
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="desempañadort"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Barra anti vuelco
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="barraantivuelco"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                Control de estabilidad
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="ctrestabilidad"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                Blindado
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="blindado"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                Vidrio de seguridad
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="vidrioseg"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h6>Confort</h6>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Aire acondicionado</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="aireacondicionado"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Regulacion de altura del volante</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="regalturavolante"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Retrovisores electricos</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="retrovisorelectrico"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Luces con regulacion automatica</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="luzregautomatica"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Tapizado de cuero</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="tapizadocuero"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Tapizado de semicuero</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="tapizadosemicuero"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Tapizado de tela</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="tapizadotela"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Sensor de parqueo</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="sensorparqueo"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Vidrios electricos</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="vidrioselect"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Apertura remota de baul</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="baulremoto"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Asientos electricos</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="asientoelectricos"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Cierre centralizado de puertas</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="puertascentralizado"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Manuales</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="manuales"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Cierre automatico de vidrios</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="cierrevidriosauto"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h6>Sonido</h6>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Bluetooth</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="bluetooth"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">DVD</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="dvd"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Reproductor de MP3</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="repmp3"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Entrada USB</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="entradausb"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Equipo de sonido</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="eds"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h6>Otros</h6>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Cubierta de platon</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="cubiertaplaton"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Plana</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="plana"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Estribos</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="estribos"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Spoiler</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="spoiler"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Exploradoras</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="exploradoras"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Llantas nuevas</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="llantasn"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Rines de lujo</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="rineslujo"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <h6>Garantia y condiciones</h6>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Garantia de fabrica</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="garfabrica"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Garantia mecanica</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="garmecanica"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Negociable</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="negociable"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Vempermuta</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="venpermuta"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Entrega a domicilio</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="domicilio"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Test drive a domicilio</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="testdrivD"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 prueba">
                                                <div>
                                                    <label for="dueñosi">Documentacion en casa</label>
                                                </div>
                                                <label class="switch-wrap switch-success ml-2">
                                                    <input type="checkbox"  formControlName="dochome"/>
                                                    <div class="switch"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-outline-primary botones" [disabled]="!formPrincipal.valid"
                            (click)="onContinue('principal')">Continuar</button>
                    </div>
                </div>
            </div>
            <div class="target" *ngIf="progreso === 9">
                <h6>Cual es el valor de tu {{marca}} {{modelo}}</h6>
                <div>
                    <div class="form-floating">
                        <form [formGroup]="valorform">
                            <input type="number" class="form-control" id="valor" placeholder="Precio de tu vehiculo"
                                formControlName="valor">
                            <label for="marca">Valor</label>
                        </form>
                    </div>
                    <button type="button" class="btn btn-outline-primary botones" [disabled]="!colorForm.valid"
                        (click)="onContinue('valor')">Continuar</button>
                </div>
            </div>
            <div class="uploadimg target" *ngIf="progreso > 9 ">
                <h5>Selecciona la foto de tu vehiculo</h5>
                <input type="file" (change)="uploadImg($event)" accept="image/*">
                <progress max="100" [value]="uploadProgress | async"></progress>
            </div>
            <div class="row">
                <button class="btn btn-outline-primary " *ngIf="formPrincipal.valid && progreso > 9" [disabled]="!cargo"
                    (click)="onguardar()">Guardar</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <footer class="text-center footer-style">
                <nav>
                    <a href="">Trabaja con nosotros</a>
                    <a href="">Terminos y condiciones</a>
                    <a href="">Como cuidamos tu privacidad</a>
                    <a href="">Ayuda /PQR</a>
                    <a href="">www.sic.gov.co</a>
                </nav>
                <small> Copyright © 2012-2021 Boyaca Web</small>
