<div>
    <div class="row submenu">
        <div class="container-fluid">
            <div class="row">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Listar">
                        <app-list-versiones></app-list-versiones>
                    </mat-tab>
                    <mat-tab label="Nuevo">
                        <app-new-versiones></app-new-versiones>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>