table {
    width: 100%;
  }
.body{
  justify-content: center;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}